<footer>
 {{>head}}

<h3 align="Center"> footer by  partials </h3>
    <table class="table table-sm table-bordered table-striped">
     <tr color="primary" align="center">
      <th >Section</th>
      <th > Group </th>
     </tr>
     <tr align="Center">
      <td>D1703 </td>
      <td>02</td>
     </tr>
    <table>

</footer>