<header>
 {{>head}}
 
<h3 align="Center"> header by  partials </h3>
    <table class="table table-sm table-bordered table-striped">
     <tr color="primary" align="center">
      <th > Name </th>
      <th > Reg.No. </th>
     </tr>
     <tr align="Center" >
      <td>Jatin </td>
      <td>11709434</td>
     </tr>
    <table>
</header>